<div class='award_book'>
    <div class='number'>
    <li>受賞回</li>
    <li><%=book.times%>回</li>
    </div>
    <ul>
        <div class='award'>
        <li>受賞作品</li>
        <li><%=book.title%></li>
        </div>
        <div class='author'>
        <li>著者</li>
        <li><%=book.author%></li>
        </div>
    </ul>
    <p>既に読み終わっています</p>
</div>